# RabbitMQ
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_HOST=
RABBITMQ_PORT=

# Employee DB
EMPLOYEE_DB_NAME=
EMPLOYEE_DB_USER=
EMPLOYEE_DB_PASSWORD=
# Payroll DB
PAYROLL_DB_NAME=
PAYROLL_DB_USER=
PAYROLL_DB_PASSWORD=